.home {

	#productos-nuevos {
		margin-top:75px;
		
	}

	h1 {
		font-size: 45px;
		font-weight: 700;
		color: $naranjo-financoop;
		margin: 5px 5px 15px 5px;

		@media(min-width:$pantalla-media){
			margin-bottom:45px;
		}
	}
}