#sobre-nosotros {

	position:relative;
	height: 400px;

	color:$heroic-white;
	h1 {
		text-transform: none;
		padding: 0 60px;

		
	}
	p {
		font-size:1.2em;

	}

	@media (max-width:556px) {
			p {
				font-size: 1em;
			}
				
			.valign {
				top: 50%;
			}
			h1 {
				font-size: 1.6em;
				padding: 0 20px;
			}
		}


	

}

#nosotros-descripcion {
	
	padding: 70px 0 50px 0;
	background-color: $blanco-oscuro;


}

#nuestro-equipo {

	padding: 90px 0;

	h3 {
		margin: 0;
	}
	p {
		font-size: 0.9em;
		margin: 0;

		margin-bottom: 10px;

		@media (min-width:$pantalla-media) {
		margin: 5px 0;
		}

	}
	.cargo {
		color: $color-kubico;
		font-size: 1em;
		font-weight: 700;
		margin: 0;
	}

	img {
		max-width: 200px;
		display:block;
		text-align:center;
		margin: 0 auto;
	}


	.nuestro-equipo-texto {
		@media (min-width: $pantalla-media) {
		min-height: 120px;
		}
	}
	
	//Evita que las columnas queden pegadas encima de otra en movil
	.nuestro-equipo-columnas {
		margin-bottom: 40px;
	}

}
