footer  {
	
	padding: 50px 0;
	background-color:$dark-grey;

	//Para que en móviles no se queden "pegados encima"
	.foot {
		margin-bottom: 40px;
	}
	
	p,h3 {
		color:$heroic-white;
	}
	li {
		display:inline-block;
		margin-right:9px;
		margin-bottom:9px;
	}
	////CENTRO////
	.footer-center {
		i {
			color:$heroic-white;
			margin-right: 8px;
			font-size:25px;
		}

	}

	a{
		color:$color-kubico;
		&:hover {
			color:$color-kubico - 65;
		}
	}
	
	///IZQUIERDA///
	.footer-left{
		//Link de la Imagen, se estilea este en vez del logo directo.
		&>a {
		width:100%;
		margin:-16px 0 8px 0;
		padding:0;
		}
	
	}
	
	///DERECHA///
	.footer-right {
		i {
			font-size: 33px;
			margin: 14px 14px 0 0;
		}

		h3 {
			margin-top:0;
		}
	}
}