header {
	border-bottom: 1px solid $gris-claro;
	margin-bottom: 20px;

	.top {
		color:$heroic-white;
		background-color:$naranjo-financoop;
		height:95px;

		@media(min-width:$pantalla-media) {
			height:35px;
		}
		p {
			text-transform: uppercase;
			padding: 6px 0;
			@media (max-height:$pantalla-media) {
				font-size:12px;
			}
		}

		a{
			&,&:hover,&:active,&:focus {
				color:$heroic-white;
				text-decoration: none;
			}
		}
	}
}