.product-grid {
	h3 {
		font-size: 14px;
		min-height: 28px;
		margin: 20px 0 10px 0;
	}

	p {

		&.price {
			font-size:12px;

			.referencial {
				font-size:10px;
			}
		}
	}



	margin-top: 68px;

	.wrapper {
		min-height: 220px;
	}

	.item {
		margin-top:25px;
	}
}

.woocommerce ul.products li.product h3 {
	font-size:14px;
}