
//arreglar, hard style
.referencial {
	font-size:14px;
}
//

.product-grid {


	h3 {
		font-size: 14px;
		min-height: 28px;
		margin: 20px 0 10px 0;
		color:$black;
	}

	p {

		
		color:$black;
		&.price {

			ins {text-decoration: none; margin-right:9px;}
			

			.referencial {
				font-size:12px;
			}
		}
	}




	.wrapper {
		min-height: 220px;
	}

	.item {
		margin-top:25px;
			height: 503px;

	}
}

.woocommerce ul.products li.product h3 {
	font-size:14px;
}

//PROVISIONAL, ARREGLAR WOOCOMMERCE

#related .price {
	color:$black;
	font-size:16px;
}
