

.container.pagina-producto {
	margin-top: 25px;

	p {		

			&.price {


				ins {text-decoration: none; margin-right:9px; font-size:24px;}
				del {font-size:19px; color:$gris-oscuro;}
				

				.referencial {
					font-size:14px;
					color:$black;

				}

				margin: 0;


			}

			&.ahorro {
				text-transform: uppercase;
				font-weight: 700;
				color: $precio-oferta;
			}
	}
}